{% extends "base.html" %}
{% block header %}
      <h1>{{ results["name"] }}</h1>
      <p>{{ results["type"] }}</p>
      {% if results["tags"] %}
        <p>Tagged with
        {% for tag in results["tags"] %}
          <a href="/servers/?tag={{ tag }}">{{ tag }}</a>
        {% endfor %}
        </p>
      {% endif %}
      {% for stat in results['stats'] %}
      <a class="statLink" href="#{{ stat }}">{{ stat }}</a>
      {% endfor %}
{% endblock %}
{% block body %}
<div class="pure-g-r">
  <div class="pure-u-1">
  {% if not results["stats"] %}
    <p class="noStatsMsg">There are no stats logged for this server.</p>
  {% else %}
    {% for stat in results['stats'] %}
    <div class="chartWrap">
      <a name={{ stat }}></a>
      {{ stat }}
      <div id=chart-{{ stat }} style="max-width:800px; height:400px; margin: 0 auto"></div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/static/js/jquery.flot.min.js"></script>
<script src="/static/js/jquery.flot.categories.min.js"></script>
<script>
  $( document ).ready(function() {
    $.getJSON("/api/servers/{{ results["_id"] }}", function(data) {
    var stats = data.stats;
    $.each(stats, function(key, val) {
      var statList = [];
      $.each(val, function(date, stat) {
        var statPair = [date,parseInt(stat)];
        statList.push(statPair);
      });
         $.plot($("#chart-"+key), [statList], {
            series:{
              lines: {
                fill: true
              }
            },
            xaxis: {
              mode: "categories",
              tickLength: 0
            }
         });
      });
    });
  });
</script>
{% endblock %}