body {
    color: #333;
}

#header {
    color: #fff;
    padding-left: 15px;
    position: fixed;
}

.statLink {
    text-align: center;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid;
    padding: 10px;
    border-color: #ccc;
    background: #eee;
    color: #333;
    text-decoration: none;
}

.statLink:hover {
    background: #ccc;
}

#headerBG {
    background: #303030;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 80%;
    left: 0;
    z-index: -1;
}

.noStatsMsg {
    text-align: center;
    margin-top: 75px;
}

.chartWrap {
    text-align: center;
    margin-bottom: 20px;
}